
/* header */
header {
    height: 104px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    transition: 0.6s ease-out;
}

header.search1__bg-rgba {
    background-color: rgba(0, 0, 0, 0.1);
}

header.sticky {
    height: 74px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .header-logo {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
        }

            .header-logo-img {
                width: 160px;
            }

        .header-nav {
            
        }

            .header-nav-list {
                position: relative;
            }

            .header-nav-items {
                display: inline-block;
                padding: 25px 20px;
                color: #fff;
                font-size: 1.4rem;
                letter-spacing: 2px;
                cursor: pointer;
            }

            .header-nav-items a {
                color: #fff;
            }

            /* header subnav */
            .header-nav-news,
            .header-nav-pages,
            .header-nav-about,
            .header-nav-shop,
            .header-nav-packages {
                position: absolute;
                padding-top: 38px;
                min-width: 160px;
                z-index: 999;
                display: none;
                transition: 0.5s ease-out;
            }

            header.sticky .header-nav-news,
            header.sticky .header-nav-pages,
            header.sticky .header-nav-about,
            header.sticky .header-nav-shop,
            header.sticky .header-nav-packages {
                padding-top: 28px;
                transition: .5s ease-out;
            }

            .header-nav-news-item a,
            .header-nav-pages-item a,
            .header-nav-about-item a,
            .header-nav-shop-item a,
            .header-nav-packages-item a{
                color: #9a9a9a;
                font-size: 1.4rem;
                padding: 10px 16px;
                border-bottom: 1px solid #e4e4e4;
                box-shadow: 0px 2px 5px #f1f1f1;
                transition: 0.4s ease-out;
                background-color: #fff;
                display: block;
                position: relative;
            }

            .header-nav-packages-item {
                position: relative;
            }

            .header-nav-news-item:last-child,
            .header-nav-pages-item:last-child,
            .header-nav-about-item:last-child,
            .header-nav-shop-item:last-child,
            .header-nav-packages-item:last-child {
                border-bottom: none;
            }

            .header-nav-news-item a:hover,
            .header-nav-pages-item a:hover,
            .header-nav-about-item a:hover,
            .header-nav-shop-item a:hover,
            .header-nav-packages-item a:hover {
                background-color: #f3f3f3;
            }

            .header-nav-packages-item a.active::after {
                position: absolute;
                content: "HOT";
                top: 11px;
                right: 10px;
                background-color: #f76570;
                color: #fff;
                font-size: 1.0rem;
                padding: 1px 4px;
                border-radius: 3px;
            }

            .header-nav-news-item a.single::after,
            .header-nav-pages-item a.contact::after,
            .header-nav-pages-item a.about::after,
            .header-nav-packages-item a.arrow::after {
                position: absolute;
                content: "";
                border: 5px solid;
                border-color: transparent transparent transparent #9a9a9a;
                top: 15px;
                right: 10px;
            }

            /* about Us subnav */
            .header-nav-pages-item.contact,
            .header-nav-pages-item.about,
            .header-nav-news-item.sigle,
            .header-nav-about-item.active {
                position: relative;
            }

            .header-nav-about-item.active::after {
                position: absolute;
                content: "NEW";
                top: 11px;
                right: 10px;
                background-color: #1bbc9b;
                color: #fff;
                font-size: 1.0rem;
                padding: 1px 4px;
                border-radius: 3px;
            }
                /* Header nav Tour subnav */
                .header-subnav-post,
                .header-subnav-contact,
                .header-subnav-about,
                .header-nav-tour {
                    margin-left: 144px;
                    position: absolute;
                    min-width: 185px;
                    top: 0;
                    padding-left: 24px;
                    display: none;
                    transition: 0.5s ease-out;
                    z-index: 999;
                }

                .header-subnav-post-item a,
                .header-nav-subcontact-item a,
                .header-subnav-about-item a,
                .header-nav-tour-item a {
                    color: #9a9a9a;
                    font-size: 1.4rem;
                    position: relative;
                    padding: 10px 16px;
                    border-bottom: 1px solid #e4e4e4;
                    box-shadow: 0px 2px 5px #f1f1f1;
                    transition: 0.4s ease-out;
                    background-color: #fff;
                }

                .header-nav-tour-item.active a::after {
                    content: "BEST";
                    letter-spacing: 1px;
                    color: #fff;
                    font-size: 1.0rem;
                    padding: 1px 4px;
                    border-radius: 3px;
                    position: absolute;
                    background-color: #14b9d5;
                    right: 10px;
                }

                .header-subnav-post-item:last-child,
                .header-subnav-about-item:last-child,
                .header-nav-subcontact-item:last-child,
                .header-nav-tour-item:last-child {
                    border-bottom: none;
                }

                .header-subnav-post-item:hover,
                .header-nav-subcontact-item:hover,
                .header-subnav-about-item:hover,
                .header-nav-tour-item:hover {
                    background-color: #f3f3f3;
                }


                /* hover vào nav mở ra subnav */
                .header-nav-news-item.sigle:hover .header-subnav-post,
                .header-nav-items.news:hover .header-nav-news,
                .header-nav-pages-item.contact:hover .header-subnav-contact,
                .header-nav-pages-item.about:hover .header-subnav-about,
                .header-nav-items.pages:hover .header-nav-pages,
                .header-nav-items.about:hover .header-nav-about,
                .header-nav-items.shop:hover .header-nav-shop,
                .header-nav-items.active:hover .header-nav-packages,
                .header-nav-packages-item.arrow:hover .header-nav-tour {
                    display: block;
                    transition: 0.5s ease-out;
                }
        /* header booking */
        .header-booking {
            
        }

            .header-booking-btn {
                color: #fff;
                padding: 15px 20px;
                background-color: #ba71da;
                border-radius: 60px;
                font-size: 1.4rem;
                letter-spacing: 2px;
                transition: 0.4s ease-out;
            }

            .header-booking-btn:hover {
                background-color: #a93cd8;
                cursor: pointer;
            }

        /* header bars */
            .header-bars-icon {
                color: rgb(207, 206, 206);
                padding: 10px;
                font-size: 3.0rem;
                cursor: pointer;
                transition: 0.4s ease-out;
            }

            .header-bars-icon:hover,
            .header-bars-icon:focus {
                color: rgb(233, 233, 233);
            }

                .header-bar-packages {
                    position: fixed;
                    width: 350px;
                    background-color: #fff;
                    padding: 20px;
                    top: 0;
                    right: -350px;
                    transition: 0.5s ease-out;
                    overflow: hidden;  
                    overflow-y: auto;  
                    max-height: 100%; 
                    animation: openNav 0.5s ease-out;           
                }

                @keyframes openNav {
                    from {
                        opacity: 0;
                        right: -350px;
                    } 
                    to {
                        opacity: 1;
                        right: 0px;
                    }
                }

                .header-bar-packages.open {
                    right: 0;
                    transition: 0.5s ease-out;
                }

                .header-bars-close {
                    width: 27px;
                    height: 27px;
                    top: 10px;
                    cursor: pointer;
                    position: absolute;
                    right: 16px;
                }

                .header-bar-heading {
                    text-align: center;
                    letter-spacing: 2px;
                    margin-top: 4px;
                }

                .header-bar-p {
                    font-size: 1.4rem;
                    color: #9a9a9a;
                }

                .header-bar-h2 {
                    font-weight: 700;
                    position: relative;
                    font-size: 2.4rem;
                    color: #555555;
                    z-index: 1000;
                    letter-spacing: 0;
                }

                .header-bar-h2::after {
                    content: "";
                    position: absolute;
                    bottom: 11px;
                    left: 90px;
                    background-color: #ffd105;
                    width: 125px;
                    height: 5px;
                    z-index: -1;
                }

                /* điểm đến */
                .header-bar-container {
                    margin-top: 15px;
                }

                .header-bar-container-item {
                    display: flex;
                    padding: 15px;
                }

                .header-bar-container-img {
                    width: 100px;
                    height: 100px;
                    border-radius: 2px;
                }

                .header-bar-container-item-content {
                    padding-left: 30px;
                }

                .header-bar-container-content-h3 {
                    color: #555555;
                    font-size: 2.0rem;
                    font-weight: 400;
                }

                .header-bar-container-content-location {
                    color: #9a9a9a;
                    font-size: 1.5rem;
                    letter-spacing: 2px;
                }

                .header-bar-container-content-icon {
                    letter-spacing: 0;
                }

                .header-bar-container-content-price {
                    padding: 4px 20px;
                    background: linear-gradient( to right, #ffd205 0% , #ff9b05 100%);
                    color: #fff;
                    border-radius: 50px;
                    margin-top: 19px;
                    display: inline-block;
                    font-size: 1.4rem;
                    transition: 0.4s all ease-out;
                }

                .header-bar-container-content-price:hover {
                    background: linear-gradient( to left, #ffd205 0% , #ff9b05 100%);
                }

                .header-bar-container-content-price.green {
                    background: linear-gradient( to right, #1bbc9b 0%, #1bbc63 100%);
                }

                .header-bar-package.open {
                    overflow-y: auto;
                    max-height: 500px;
                }

                .header-bar-package-content {
                    padding: 15px;
                    position: relative;
                }

                .header-bar-package-img {
                    width: 100%;
                }

                .header-bar-package-container-img {
                    position: absolute;
                    top: 30px;
                    width: 35px;
                    left: 40px;

                }

                .header-bar-package-container-img img {
                    width: 100%;
                }

                .header-bar-package-container-content {
                    position: absolute;
                    bottom: 30px;
                    left: 40px;
                    color: #fff;
                    text-shadow: 2px 2px black;
                }

                .header-bar-package-container-content h3 {
                    font-size: 2.0rem;
                }

                .header-bar-package-container-content p {
                    font-size: 1.8rem;
                    letter-spacing: 2px;
                }



/* body */
.container {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-2.jpg);
    text-align: center;
    padding: 270px 31px 200px;
    background-repeat: no-repeat;
    background-size: cover;
}      
    /* content */
    .contanier-content {
        padding-bottom: 65px;
    }

        .container-content-h1 {
            font-size: 5.0rem;
            color: #fff;
            font-weight: 700;
        }

        .container-content-p {
            font-size: 2.0rem;
            letter-spacing: 4px;
            color: #fff;
        }
    
    /* findbar search */
    .container-findbar {
        text-align: center;
    }

        .container-findbar-btn {
        
        }
            .container-findbar-with-search {
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.8rem;
                border-radius: 20px;
                color: #a3a3a3;
                position: relative;
            }
                .container-findbar-input {
                    outline: none;
                    border: none;
                    padding: 8px 12px;
                    color: #a3a3a3;
                    width: 280px;
                    font-size: 1.6rem;
                    border-radius: 10px;
                }

                .container-findbar-with-search-section {
                    position: absolute;
                    background-color: #fff;
                    top: 42px;
                    left: 0;
                    width: 100%;
                    text-align: start;
                    border-radius: 5px;
                    display: none;
                }

                .container-findbar-with-search-section.open {
                    display: block;
                }

                .container-findbar-with-search-section-item {
                    padding: 0 26px;
                    font-size: 1.6rem;
                    transition: .3s ease-out;
                }

                .container-findbar-with-search-section-item:hover {
                    background-color: #c7c7c7;
                    color: #fff;
                }

                .container-findbar-with-search-section-item.back {
                    padding: 0 32px;
                }

                .container-findbar-input:focus ~ .container-findbar-with-search-section {
                    display: block;
                }
    
    /* Choose list */
    .container-choose-list {
        text-align: center;
    }

    .container-list {
        margin-top: 55px;
    }

    .container-list-item {
        display: inline-block;
        padding: 20px;
        margin: 0 20px;
        background: rgba(0, 0, 0, 0.4);
        width: 112px;
    }

    .container-list-img {
        width: 40px;
    }

    .container-list-heading {
        color: #fff;
        letter-spacing: 2px;
        font-weight: 400;
    }

/* Our proposals */
.body-container {
    padding-top: 55px;
}

.body-container-proposals {
    text-align: center;
}

.body-container-p {
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.body-container-h2 {
    font-size: 3.6rem;
    color: #555555;
    position: relative;
}

.body-container-h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 260px;
    background-color: #1bbc9b;
    bottom: 13px;
    left: 514px;
    z-index: -9;
}

.body-container-row {
    margin-top: 55px;
}

.body-container-content {
    position: relative;
    overflow: hidden;
}

.body-container-content-p img {
    width: 35px;
    position: absolute;
    top: 25px;
    left: 30px;
}

.body-container-content-img {
    width: 100%;
}

.body-container-content-heading {
    bottom: 100px;
    left: 30px;
    position: relative;
    width: 100px;
    text-align: start;
    z-index: 2;
}

.body-container-content-heading::after {
    position: absolute;
    content: "";
    width: 400px;
    height: 50px;
    top: 0;
    left: -30px;
    z-index: 1;
}

.body-container-content-h3 {
    color: #fff;
    font-size: 2.0rem;
    line-height: 27px;
    text-shadow: 2px 3px rgb(129, 129, 129);
    width: 140px;
}

.body-container-content-p {
    letter-spacing: 2px;
    color: #fff;
    width: 130px;
    font-size: 1.4rem;
    text-shadow: 1px 1px rgb(119, 119, 119);
}

/* hover vao diem den */

.body-container-content-hover {
    background-color: #14b9d5;
    color: #fff;
    width: 100%;
    position: absolute;
    top: -384px;
    height: 384px;
    z-index: 999;
    transition: 0.5s ease-out;
}

.body-container-hover-h3 {
    font-size: 2.0rem;
    margin-top: 100px;
}

.body-container-hover-list {
    padding: 16px 0;
}

.body-container-hover-item {
    padding: 4px;
    font-size: 1.4rem;
}

.body-container-hover-btn {
    padding: 4px 20px;
    color: #14b9d5;
    font-size: 1.8rem;
    background: #fff;
    font-weight: 300;
    border-radius: 30px;
}

.body-container-content-global:hover .body-container-content-hover {
    top: 0;
}

/* your next holiday */
.body-container-holiday {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-search-2.jpg?id=1538);
    background-position: center;
    background-size: cover;
}

.body-container-holiday-content {
    padding: 50px 31px;
}

.body-container-holiday-heading {
    color: #fff;
    font-size: 4.5rem;
    position: relative;
    z-index: 1;
}

.body-container-holiday-heading h3:first-child {
    font-size: 4.4rem;
    margin-top: 30px;
}

.body-container-holiday-heading h3:last-child::after {
    position: absolute;
    content: "";
    background-color: #f76570;
    height: 5px;
    width: 210px;
    top: 153px;
    left: 244px;
    z-index: -9;
}

.body-container-holiday-btn {
    text-align: center;
    margin-top: 58px;
}

.body-container-holiday-link {
    font-size: 1.4rem;
    color: #f76570;
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
}

/* beaches */
.body-container-beaches {
    margin: 70px 0 55px 0;
}

.body-beaches-heading p {
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.body-beaches-heading h3 {
    font-size: 3.6rem;
    color: #555555;
    position: relative;
}

.body-beaches-heading h3::after {
    position: absolute;
    content: "";
    background-color: #14b9d5;
    width: 158px;
    height: 5px;
    top: 38px;
    left: 164px;
    z-index: -9;
}

.body-beaches-paragh {
    text-align: left;
}

.body-beaches-paragh p {
    margin: 20px 0;
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.body-beaches-paragh p.active {
    font-size: 3.0rem;
}

.eight-hundred {
    color: #dadada;
    text-decoration: line-through;
}

.five-hundred {
    color: #494949;
    margin-left: 12px;
}

.for-person {
    font-size: 1.4rem;
    color: #494949;
}

.body-beaches-book {
    margin-top: 30px;
    display: inline-block;
}

.body-beaches-link {
    padding: 12px 34px;
    background-color: #1bbc9b;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 20px;
}

.body-beaches-img-col {
    position: relative;
}

.body-beaches-dots {
    display: flex;
    position: absolute;
    top: 20px;
    left: 273px;
    z-index: 10;
}

.body-beaches-dot-item {
    background-color: #aaaaaa;
    height: 3px;
    width: 50px;
    margin: 0 20px;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.body-beaches-dot-item.active {
    background-color: #fff;
}

.body-beaches-dot-item:hover {
    background-color: #fff;
}

@keyframes changeSlide {
    from {
        opacity: 0.5;
    } to {
        opacity: 1;
    }
}

.body-beaches-img-item {
    display: none;
}

.body-beaches-img-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    animation: changeSlide 0.6s ease-in;
    transition: 0.8s ease-in;
}

.body-beaches-img-item.active {
    display: block;
    transition: 0.6s ease-out;
}

/* beaches services  */
.body-beaches-services {
    margin-top: 50px ;
    margin-bottom: 50px;
}

.body-beaches-services-col {
    display: flex;
}

.beaches-services-img {
    width: 50px;
    height: 50px;
}

.beaches-services-content {
    padding-left: 16px;
}

.beaches-services-h3 {
    color: #555555;
    font-size: 2.4rem;
}

.beaches-services-p {
    font-size: 1.4rem;
    margin: 20px 0;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.beaches-services-link {
    color: #14b9d5;
    font-size: 1.4rem;
}

/* Discover */
.discover-container {
    padding: 50px 0 0 0;
}

.discover-container-row {
    margin: 0;
}

.discover-container-col {
    text-align: center;
    padding: 70px;
}

.discover-container-col.col-1 {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-5-filter.jpg?id=1584);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discover-container-col.col-2 {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-6-filter.jpg?id=1585);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.discover-container-p {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.discover-container-h3 {
    font-size: 3.6rem;
    color: #fff;
}

.discover-container-link-1 {
    margin-top: 20px;
    padding: 8px 32px;
    color: #f3a46b;
    font-size: 1.4rem;
    letter-spacing: 2px;
    background: #fff;
    display: inline-block;
    border-radius: 20px;
}

.discover-container-link-2 {
    margin-top: 20px;
    padding: 8px 32px;
    color: #1bbc9b;
    font-size: 1.4rem;
    letter-spacing: 2px;
    background: #fff;
    display: inline-block;
    border-radius: 20px;
}

/* promotions */
.promotions-container {
    padding-top: 55px;
    text-align: center;
    padding-bottom: 55px;
}

.promotions-heading p {
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.promotions-heading h3 {
    font-size: 3.6rem;
    color: #555555;
    position: relative;
}

.promotions-heading h3::after {
    position: absolute;
    background-color: #1bbc9b;
    content: "";
    height: 5px;
    width: 197px;
    top: 37px;
    left: 45.3%;
    z-index: -9;
}

.promotions-content {
    margin-top: 50px;
}

.promotions-boder {
    border: 1px solid #f1f1f1 ;
}

.promotions-col {
    text-align: start;
}

.promotions-img {
    width: 100%;
    position: relative;
}

.promotions-item-content {
    padding: 30px;
}

.promotions-underline {
    border-bottom: 1px solid #f1f1f1;
}

.promotions-name {
    color: #555555;
    font-size: 2.0rem;
}

.promotions-location {
    color: #9a9a9a;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 16px;
}

.promotions-underline.flex {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: #555555;
}

.promotions-flex {
    padding: 16px 0;
}

.promotions-after-third,
.promotions-after-second,
.promotions-after-first {
    position: relative;
}

.promotions-after-third::after,
.promotions-after-second::after,
.promotions-after-first::after {
    position: absolute;
    content: "+1";
    top: 2px;
    left: 55px;
    font-size: 1.0rem;
    color: #fff;
    border-radius: 8px;
    padding: 0 10px;
}

.promotions-after-first:after {
    background-color: #ffd205;
}

.promotions-after-second::after {
    background-color: #f76570;
    left: 92px;
}

.promotions-after-third::after {
    background-color: #ba71da;
    left: 60px;
}

.promotions-flex-price {
    color: #555555;
    font-size: 2.5rem;
}

.promotions-flex-price span {
    text-decoration: line-through;
    color: #9a9a9a;
    font-size: 2.0rem;
}

.promotions-paragraph {
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-top: 16px;
}

.promotions-link {
    margin-top: 30px;
    padding: 8px 24px;
    color: #fff;
    display: inline-block;
    border-radius: 20px;
}

.promotions-link.first {
    background-color: #ffd205;
}

.promotions-link.second {
    background-color: #f76570;
}

.promotions-link.third {
    background-color: #ba71da;
}

/* footer */
footer {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-7.jpg?id=1602);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.footer-keep-in-touch-col {
    padding-top: 80px;
    padding-bottom: 65px;
    text-align: center;
}

.footer-keep-in-touch-p {
    color: #9a9a9a;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.footer-keep-in-touch-h3 {
    color: #555555;
    font-size: 3.6rem;
}

.footer-keep-in-touch-input {
    outline: none;
    border: none;
    background-color: #f9f9f9;
    padding: 10px 20px;
    color: #a3a3a3;
    border-radius: 20px;
    font-size: 1.4rem;
    margin-top: 22px;
    width: 250px;
}

.footer-keep-in-touch-link {
    padding: 10px 20px;
    background-color: #14b9d5;
    color: #fff;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-top: 22px;
}

/* footer content */
.footer-content-row.row {
    background-color: #fff;
    margin: 0;
}

.footer-content-col {
    padding: 35px 30px;
}

.footer-content-logo {
    width: 150px;
    margin-bottom: 25px;
}

.footer-logo-img {
    width: 100%;
}

.footer-content-p {
    margin-bottom: 25px;
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 27px;
}

.footer-content-p span {
    text-decoration: underline;
}

.footer-content-icon {
    font-size: 2.2rem;
    margin: 0 9px;
    color: #575757;
    cursor: pointer;
}

.footer-content-icon:first-child {
    margin: 0 9px 0 0;
}

.footer-content-icon:last-child {
    margin: 0 0 0 9px;
}

.footer-col-heading {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #555555;
    margin-bottom: 25px;
    margin-top: 5px;
}

.footer-col-list {
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 27px;
    margin-top: 35px;
}

.footer-col-item {
    line-height: 27px;
    letter-spacing: 1px;
}

.footer-col-icon {
    font-size: 1.2rem;
    margin-right: 8px;
}

/* footer ending */
.footer-ending {
    background-color: #14b9d5 !important;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    padding: 16px 28px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
}

.footer-ending-box h3{
    font-weight: 400;
}

.footer-ending-last h3{
    font-weight: 400;
}


.header-bar-container-content-price.pink {
    background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
}

.header-bar-container-content-price.purple {
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%)
}




                                /*   Search 1   */


.search1__body {
    background: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/04/p-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search1__body-container {
    background: rgba(0, 0, 0, 0.2);
}

.search1__container-heading {
    padding: 250px 0 50px;
    color: #fff;
    letter-spacing: 2px;
}

.search1__container-heading h3 {
    font-size: 3.8rem;
}

.search1__container-heading p {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.search1__container-heading span {
    padding-right: 28px;
}

.search1__container-icon {
    padding-right: 4px;
}   


/* body introduce */
.search1__content {
    margin-top: 30px;
}

.search1__content-introduce-row {
    padding: 30px 0;
}

.search1__content-introduce-col {
    display: flex;
}

.search1__content-introduce-img {
    width: 40px;
    height: 40px;
}

.search1__content-introduce-heading {
    padding-left: 12px;
}

.search1__content-introduce-heading h3 {
    color: #555555;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.search1__content-introduce-heading p {
    color: #9a9a9a;
    font-size: 1.4rem;
}

.search1__content-introduce-heading p span {
    background-color: #f76570;
    border-radius: 10px;
    padding: 0 6px;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 6px;
}

/* img columm */
.search1__content-img-col {
    margin: 0;
    padding: 0;
}

.search1__content-img {
    width: 100%;
    object-fit: cover;
}

.search1__content-img-col-link {
    display: flex;
    padding: 40px 0;
}

.search1__content-img-link-item:hover,
.search1__content-img-link-item.active {
    padding: 4px 16px;
    background-color: #f76570;
    color: #fff;
    margin: 0 20px;
    border-radius: 20px;
}

.search1__content-img-link-item:first-child {
    margin: 0 20px 0 0;
}

.search1__content-img-link-item {
    color: #9a9a9a;
    font-size: 1.4rem;
    padding: 4px 16px;
    transition: 0.5s ease-out;
    letter-spacing: 1px;
}

/* description columm */

.search1__content-discription-h3 {
    color: #555555;
    font-size: 2.5rem;
    padding: 30px 0;
    letter-spacing: 1px;
}

.search1__content-discription-p {
    padding-bottom: 20px;
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.search1__content-discription-p span {
    text-decoration: underline;
}

.search1__content-discription-col {
    margin-bottom: 30px;
}

.search1__content-discripton-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-top: 1px solid #ebebeb;
}

.search1__content-discripton-list:last-child {
    border-bottom: 1px solid #ebebeb;
}

.search1__content-discription-item {
    font-size: 1.6rem;
    color: #555555;
    letter-spacing: 1px;
}

.search1__content-discription-item.right-side {
    color: #9a9a9a;
    font-size: 1.4rem;
}

.search1__content-failed-item,
.search1__content-success-item {
    display: flex;
}

.search1__content-failed-item img,
.search1__content-success-item img {
    width: 12px;
    height: 12px;
    margin: 4px 0;
}

.search1__content-failed-item p,
.search1__content-success-item p {
    padding-left: 20px;
    margin: 2px 0;
}

/* Gallery columm */

.search1__gallery h3 {
    color: #555555;
    font-size: 2.5rem;
    padding: 30px 0;
}

.search1__gallery-container {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 60px;
}

.search1__gallery-col img {
    width: 100%;
}

.search1__gallery-col.col.l-12,
.search1__gallery-col.col.l-6 {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: .5s ease-out;
}

.search1__gallery-col.col.l-4:hover,
.search1__gallery-col.col.l-12:hover,
.search1__gallery-col.col.l-6:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* right side body */
.search1__contebnt-right-boder {
    border: 1px solid #a3a3a3;
}

.search1__col-right-price {
    width: 100%;
    text-align: center;
    background-color: #f76570;
    letter-spacing: 2px;
    position: relative;
}

.search1__col-right-price::after {
    position: absolute;
    content: "SALE";
    letter-spacing: 2px;
    background-color: #555555;
    width: 70px;
    top: -10px;
    right: 20px;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 20px;
}

.search1__col-right-price p {
    padding: 20px;
    font-size: 3.8rem;
    color: #fff;
}

.search1__col-right-price span {
    font-size: 2.4rem;
}

.search1__col-right-price .line-through {
    margin-right: 12px;
    opacity: 0.6;
    text-decoration: line-through;
}

.search1__col-right-contact {

}

.search1__col-right-contact-first {

}

.search1__col-contact-first-input {

}
